.listado(ng-controller="listadoController")
	ion-header-bar.bar-positive(align-title="centre")
		.buttons
			button.button.button-icon.icon.ion-navicon(menu-toggle="left")
		h1.title Listado de clientes {{testie}}
		.buttons
			button.button(ng-click="openPopover($event)") Filtros
	ion-content(ng-controller="listadoController")
		ion-list
			.list.card(ng-repeat="cliente in clientes | filtroClientes:query")
				.item.item-avatar
					img(src="http://lorempixel.com/200/200")
					h2 {{cliente.nombre}}
					p 
						{{cliente.id}}
						span(ng-if="cliente.geo")
							&nbsp;loc: {{cliente.geo.lat}},{{cliente.geo.lng}}
				.item.item-avatar(ng-if="cliente.THF.piezas_ult_pedido || cliente.MAX.piezas_ult_pedido")
					p(ng-if="cliente.THF.piezas_ult_pedido") Tommy: {{cliente.THF.piezas_ult_pedido}} el {{cliente.THF.fecha_ult_pedido}}
					p(ng-if="cliente.MAX.piezas_ult_pedido") MAX: {{cliente.MAX.piezas_ult_pedido}} el {{cliente.MAX.fecha_ult_pedido}}
				
				
				
	// popover de Filtros
	script(id="filtros.html" type="text/ng-template")
		ion-popover-view
			ion-header-bar
				h1.title Filtrado de clientes
			ion-content
				.list
					label.item.item-input.item-floating-label
						span.input-label Nombre
						input(name="nombre" ng-model="query.nombre" type="text" placeholder="Nombre")
					label.item.item-input.item-floating-label
						span.input-label Ciudad/Provincia
						input(name="ciudad" ng-model="query.localidad" type="text" placeholder="Ciudad")		
					item.range.range-positive
						span 0
						input(type="range" name="meses" ng-model="query.meses" min="0" max="12" value="0")		
						span 12
					p.padding-left Meses sin comprar nada: {{query.meses}}